*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #004631;
}
img{
    width: 100px;
    height: 100px;
}
div{
    background: black;
    color: white;
    padding: 5px;
    list-style: disc;
}