*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #004631;
}
img{
    width: 200px;
    height: 200px;
}
.class{
    background: black;
    color: white;
    padding: 5px;
    list-style: decimal;
}